<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/nav.html}"></div>

<main class="flex-grow-1">
    <div class="container mt-5">
        <h2>Product</h2>
        <a href="/product/register" class="btn btn-primary">Add Product</a>
        <table class="table table-dark table-hover">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
                <tr th:each="product : ${productsPage.content}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.stock}"></td>
                    <td>
                        <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-warning">Edit</a>
                        <a th:href="@{/product/delete/{id}(id=${product.id})}" onclick="return confirm('¿Estas seguro que deseas eliminar?')" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${productsPage.totalPages > 1}">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item" th:if="${productsPage.hasPrevious()}">
                        <a class="page-link" th:href="@{/product/list(page=${productsPage.number - 1}, size=${productsPage.size})}" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" th:text="${productsPage.number - 1}" th:href="@{/product/list(page=${productsPage.number - 1}, size=${productsPage.size})}">1</a></li>
                    <li class="page-item active">
                        <a class="page-link" th:text="${productsPage.number}">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" th:text="${productsPage.number + 1}" th:href="@{/product/list(page=${productsPage.number + 1}, size=${productsPage.size})}">3</a></li>
                    <li class="page-item" th:if="${productsPage.hasNext()}">
                        <a class="page-link" th:href="@{/product/list(page=${productsPage.number + 1}, size=${productsPage.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer.html}"></div>

<!-- Bootstrap JS y dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
