<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/nav.html}"></div>

<main class="flex-grow-1">
    <div class="container mt-5">
        <h2>Register Customer</h2>
        <form action="#" method="post" th:action="@{/product/register}" th:object="${product}">
            <label for="name">Name: </label>
            <input type="text" class="form-control" id="name" th:field="*{name}" th:placeholder="Name"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></div><br>

            <label for="price">Price: </label>
            <input type="number" class="form-control" id="price" th:field="*{price}" th:placeholder="Price"/>
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red;"></div><br>

            <label for="stock">Stock: </label>
            <input type="number" class="form-control" id="stock" th:field="*{stock}" th:placeholder="Stock"/>
            <div th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" style="color:red;"></div><br>

            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</main>

<div th:replace="~{fragments/footer.html}"></div>

<!-- Bootstrap JS y dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
